[submodule "libs/cmake"]
	path = libs/cmake
	url = https://github.com/Zeex/cmake-modules.git
[submodule "libs/tinydir"]
	path = libs/tinydir
	url = https://github.com/cxong/tinydir.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = release-4.0
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
